<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/addposition.css') }}">
    <title>Web Sales</title>
</head>
<body>
    <div class="container-fluid">
        

        <!-- nav----------------------- -->
        <div class="navbar">

        <nav class="navbar navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">App --</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">App--</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <li class="nav-item">
                    <a class="nav-link" href="/logout_org">Log Out &#128683</a>
                    </li>
                </div>
            </div>
            </div>
        </nav>

        </div>


        <!-- nav----------------------- -->

        <div class="content">
        
            <div class="col2">
                    <div class="saleschart">
                        <div class="pgcontainer">
                            <h1>Add Position</h1>
            
                        </div>

                        
                            <div class="formcontainer">
                                {% with messages = get_flashed_messages(category_filter=['add_position']) %}
                                    {% if messages %}
                                        <div class="alert alert-danger alerta" role="alert">
                                            {% for message in messages %}
                                                <p>{{message}}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endwith %}
                                <form action="{{url_for('add_new_position')}}" method="POST">
                                    <label for="name">Name</label>
                                    <input class="form-control" type="text" name="name" placeholder="Nombre" aria-label="default input example">
                                    <div class="mb-3">
                                        <label for="description" class="form-label">Description</label>
                                        <textarea class="form-control" name="description" placeholder="Add a description" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    </div>
                                    <div class="botones">
                                        <button type="submit" class="btn btn-primary btn-lg">Add Position</button>
                                    </div>
                                </form>
                                

                                <!--
                                <div class="botones">
                                    <button type="submit" class="btn btn-primary btn-lg">Add Position</button>
                                </div>-->

                            </div> <!-- /formcontainer -->

                    </div> <!-- /saleschart -->
                
            </div> <!-- /col2 -->

        </div> <!-- /content -->

    </div><!-- /container-fluid -->


</body>
</html>