<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    
    <title>Web Sales</title>
</head>
<body>
    <div class="container-fluid">
        

        <!-- nav----------------------- -->
        
        <!-- nav----------------------- -->
        <div class="navbar">

            <nav class="navbar navbar-dark bg-dark fixed-top">
                <div class="container-fluid">
                <a class="navbar-brand" href="#">App --</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">App--</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                        <a class="nav-link" href="/logout_org">Log Out &#128683</a>
                        </li>
                    </div>
                </div>
                </div>
            </nav>
    
            </div>

        <!-- nav----------------------- -->

        <div class="content">
        <div class="col1">
            <div class="leaderboard">
                <div class="topbarcol1">
                    <div class="lposition">
                        <h2><a href="/orgs/jobs/new">List a new position <span style="color:greenyellow"><i class="fa-duotone fa-plus"></span></i></a></h2>
                    </div>
                </div>
                <div><h1>Positions to Fill</h1></div>
                {% for all_position in allPositionByOrganization%}
                <div class="position">
                    <a href="/orgs/jobs/availabledevs">{{all_position.name}}</a>
                </div>
                {% endfor %}
                <!--<div class="position">
                    <a href="">Front-End Developer</a>
                </div>-->
            </div>
        
        </div>


        <div class="col2">
            <div class="saleschart">
                <div class="topbarcol2">
                    <h1>Available Devs</h1>
                </div>
                <div class="scrollbox">
                    {% for all_dev in allDevelopers %}
                        <div class="availability">
                            
                                <div class="img" id="{{all_dev.github_user}}"></div>
                                <h1><a href="">{{all_dev.first_name}}{{all_dev.last_name}}</a></h1>
                                <h1 hidden class="name">{{all_dev.github_user}}</h1>
                                
                                <!--<div class="skills">
                                    <a href="#"><i class="devicon-"></i></a>
                                    <i class="fa-brands fa-html5"></i>
                                    <i class="fa-brands fa-java"></i>
                                    <i class="fa-brands fa-square-js"></i>
                                    <i class="fa-brands fa-python"></i>
                                    <i class="fa-brands fa-css3-alt"></i></div>
                            </div>-->
                            <div class="scroll">
                                <p>{{all_dev.short_bio}}</p>
                            </div>
                        
                    </div>
                    {% endfor %}
                
                </div>

        </div>
    </div>




    
    </div>
</div>







</body>
</html>