body {
    background-color: gainsboro;
    }
    
    .container {
        display: flex;
        flex-direction: column;
    }
    
a {
    text-decoration: none;
}
    
    .content {
        display: flex;
        width: 100%;
        height: 900px;
        background-color: gainsboro;
        align-items: center;
        justify-content: center;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(70,107,136,1) 50%, rgba(0,212,255,1) 90%);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        border-radius: 30px;
    
    
    }
    /* columna 1----------------------------------------- */
   
    
    
    
    
    
    
    /* columna 1----------------------------------------- */
    
    
    
    
    /* columna 2----------------------------------------- */
    
    
    
    .col2 {
        width: 80%;
        height: 100%;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: top;
        padding-top: 5%;
        border-radius: 30px;
        margin: 20px;
    }

    
    

    
    
    .saleschart {
        width: 100%;
        height: 100%;
        background-color: white;
        margin: 5%;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
    }
    
    .topbarcol2 {
        width: 100%;
        height: 15%;
        background: rgb(195,34,67);
        background: linear-gradient(0deg, rgba(195,34,67,1) 38%, rgba(253,187,45,1) 100%);
        border-radius: 30px 30px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2%;
        color: whitesmoke;
      }



    .tdeveloper {
        display: flex;
        width: 100%;
        height: 10%;
        background-color:gainsboro;
        justify-content: center;
        align-items: center;
      }


    .scrollbox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 70%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        border-radius: 30px;
        overflow-y: scroll;
    }
    
        
.availability {
    padding: 1%;
    width: 90%;
    height: 40%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 30px;
}

.availability:hover {
    box-shadow: none;
    background-color: gainsboro;
    color: black;
    margin: 1%;
}


.nameskills {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.skills {
    display: flex;
}


i {
    font-size: 50px;
 }
 

.match {
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 30px;
  
}

.progress {
    width: 20%;
    color: green;
    height: 20px;
}
        
    
     
    
    
    
    
    
    
    /* columna 2----------------------------------------- */